Python for Data & Analytics<br>
Chapter 11, section 8

*** requires datafiles: contacts.csv, phones.csv

In [1]:
import pandas as pd
dfContacts = pd.read_csv('contacts.csv', index_col='id')
dfContacts

        name
id
1       Alan
2     Bonnie
3      Chris
4    Deborah
5     Edward
6   Florence

In [2]:
dfPhones = pd.read_csv('phones.csv', index_col='id')
dfPhones

           phone
id
1   212-555-1212
1   212-555-1234
2   212-555-3434
3   212-555-4545
4   212-555-5656
5   212-555-6767
7   212-555-9876

In [3]:
dfJoinOuter = dfContacts.join(dfPhones, how='outer')
dfJoinOuter

        name         phone
id
1       Alan  212-555-1212
1       Alan  212-555-1234
2     Bonnie  212-555-3434
3      Chris  212-555-4545
4    Deborah  212-555-5656
5     Edward  212-555-6767
6   Florence           NaN
7        NaN  212-555-9876

In [4]:
dfJoinOuter[dfJoinOuter['phone'].isna()]

        name phone
id
6   Florence   NaN

In [5]:
dfJoinOuter[dfJoinOuter['name'].isna()]

   name         phone
id
7   NaN  212-555-9876

Code from: Python for Data & Analytics, (c) 2022 Rose River Software