Python for Data & Analytics<br>
Chapter 11, section 4

*** requires datafile: DQ-Example-Category.csv

In [1]:
import pandas as pd
df = pd.read_csv('DQ-Example-Category.csv', index_col='id')
df

     age  gender children state
id
1   21.0       m        y    NY
2   29.4    male        n    NJ
3   40.0       F        Y    IL
4    6.0       f        N    CA
5   -1.0  female        Y    CT
6   28.0  female        N    NY
7   26.0     NaN      NaN   NaN

In [2]:
df.children.unique()

array(['y', 'n', 'Y', 'N', nan], dtype=object)

In [3]:
df['children_clean'] = df.children.str.lower()
df[['children', 'children_clean']]

   children children_clean
id
1         y              y
2         n              n
3         Y              y
4         N              n
5         Y              y
6         N              n
7       NaN            NaN

In [4]:
df['children_clean'] = df.children_clean.map({'y':1, 'n':0})
df[['children', 'children_clean']]

   children  children_clean
id
1         y             1.0
2         n             0.0
3         Y             1.0
4         N             0.0
5         Y             1.0
6         N             0.0
7       NaN             NaN

In [5]:
df.gender.unique()

array(['m', 'male', 'F', 'f', 'female', nan], dtype=object)

In [6]:
df['gender_clean'] = df.gender.str.lower()
df['gender_clean'] = df.gender_clean.str[0]
df.gender_clean.astype('category')
df[['gender', 'gender_clean']]

    gender gender_clean
id
1        m            m
2     male            m
3        F            f
4        f            f
5   female            f
6   female            f
7      NaN          NaN

In [7]:
df['age_range'] = pd.cut(df.age, [0, 18, 21, 30, 100],
                         labels=['<18', '18-21','22-30','31+'])
df[['age','age_range']]

     age age_range
id
1   21.0     18-21
2   29.4     22-30
3   40.0       31+
4    6.0       <18
5   -1.0       NaN
6   28.0     22-30
7   26.0     22-30

In [8]:
regions = pd.read_csv('regions.csv')
regions

  state   region
0    CA     West
1    CT     East
2    NY     East
3    NJ     East
4    IL  Midwest

In [9]:
df = df.merge(regions, on='state', how='left')
df[['state', 'region']]

  state   region
0    NY     East
1    NJ     East
2    IL  Midwest
3    CA     West
4    CT     East
5    NY     East
6   NaN      NaN

Code from: Python for Data & Analytics, (c) 2022 Rose River Software